<section>
  <div class="container-fluid pt-5 pb-5">
    <div class="container">
    <div class="row pb-3">
      <div class="col-12">
        <h4 class="text-uppercase">{{ $.Param "donors-section-title"}} </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>{{ $.Param "donors-description" }}</p>
      </div>
    </div>
    <div class="row donors-logos">
        {{ range  where .Site.RegularPages "Section" "donors" }}
            <div class="donor-logo col-md-3 col-xs-12 p-4"><img class="img-fluid" src="{{ .Params.logo }}" alt="{{ .Title }}"> </div>
        {{ end }}
    </div>
    </div>
  </div>
</section>
