    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .Title }}</title>

    <meta name="description" content="{{ $.Param "siteDescription" }}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- custom stylesheet -->
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}/css/main.css">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">


   <meta property="og:type" content="website" />
   <meta property="og:title" content="{{ .Title }}" />
   <meta property="og:description" content="{{ $.Param "siteDescription" }}" />
   <meta property="og:image" content="/{{ $.Param "facebook-card" }}" />

   <meta name="twitter:card" content="summary" />
   <meta name="twitter:title" content="{{ .Title }}" />
   <meta name="twitter:description" content="{{ $.Param "siteDescription" }}" />
   <meta name="twitter:image" content= "/{{ $.Param "twitter-card" }}">

   <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://www.google-analytics.com/analytics.js https://www.google-analytics.com https://www.googletagmanager.com/  https://www.google-analytics.com https://stats.g.doubleclick.net 'unsafe-inline' ; font-src 'self' https://fonts.gstatic.com; img-src 'self' https://www.google-analytics.com/ https://www.googletagmanager.com/ ; style-src 'self' https://stackpath.bootstrapcdn.com  https://fonts.googleapis.com/ 'unsafe-inline' ;">

   <meta name="referrer" content="no-referrer" />

   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132319281-1"></script>

   <script type="text/javascript" src="/js/ga.js">   </script>
   <meta name="google-site-verification" content="JobK4G6UDyfYh8ELvb0lfeHQK3_N3TJFKWAM5SWudd8" />

   <meta name="keywords" content="datapartnership.com, international consortium of data collaborative, international consortium of data collaboratives world bank, data consortium, data international development, data international public good, data public good, data global social impact, data social good, data partnership world bank google, public private data partnership">
