{{ define "main" }}

{{ if eq .Page.RelPermalink "/updates/"}}
<div class="container-fluid">
  <div class="container pb-3 pt-3">
    <div class="filters">
      <div class="ui-group col-lg-4">
        <select class="filter-select" value-group="data-partner">
          <option value="">Development Partner </option>
          {{ range $name, $taxonomy := .Site.Taxonomies.dev_partner }}
          <option value=".{{ $name | urlize }}"> {{ replace $name "-" " " | title }}</option>
          {{ end }}
        </select>
      </div>

      <div class="ui-group col-lg-4">
        <select class="filter-select" value-group="data-partner">
          <option value="">Data Partner</option>
          {{ range $name, $taxonomy := .Site.Taxonomies.partner }}
          <option value=".{{ $name | urlize }}"> {{ replace $name "-" " " | title }}</option>
          {{ end }}
        </select>
      </div>

      <div class="ui-group col-lg-4">
        <select class="filter-select" value-group="data-partner">
          <option value="">Topics</option>
          {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          <option value=".{{ $name | urlize }}"> {{ replace $name "-" " " | title }}</option>
          {{ end }}
        </select>
      </div>
    </div>
  </div>
</div>
{{ end }}

<div class="container-fluid bg-light pb-3 pt-3 card-grid-container">
  <div class="container pl-0 pr-0">
    <div class="card-grid">

      {{ range .Pages }}
      <div class="grid-card col-lg-4 col-md-6 col-sm-6 col-xs-12
        {{ if .Params.partner}} {{ delimit .Params.partner " +" | replaceRE " " "-" | replaceRE "\\+" " " | lower }} {{
        end }} {{ if .Params.dev_partner}} {{ delimit .Params.dev_partner "+" | replaceRE " " "-" | replaceRE "\\+" " "
        | lower }} {{ end }} {{ if .Params.tags }} {{ delimit .Params.tags "+" | lower | replaceRE " " "-" |
        replaceRE "\\+" " " | lower }} {{ end }}">

        <div class="card border-0 rounded-0">
          <div class="card-body">
            <h3 class="card-title">
              <a class="text-primary" href="{{.Permalink}}">
                {{ .Params.title }}
              </a>
            </h3>
            {{ if .Params.categories }}
            {{ range .Param "categories" }}
            <a class="badge badge-danger" href="/categories/{{ (urlize .) }}">{{ . }}</a>
            {{ end }}
            {{ end }}
            {{ if .Params.partner}}
            {{ range .Param "partner" }}
            <span class="badge badge-info">{{ . }}</span>
            {{ end }}
            {{ end }}
            {{ if .Params.tags }}
            {{ range .Param "tags" }}
            <a class="badge badge-primary" href="/tags/{{ (urlize .) }}">{{ . }}</a>
            {{ end }}
            {{ end }}<div class="w-100 bg-secondary h2px mb-3"></div>
            <div class="card-text">
              <p>{{ .Summary }}</p>
            </div>
            <div class="card-footer bg-white border-0 mt-2">
              <a href="{{.Permalink}}" class="btn btn-primary mt-2 no-overlay">Read More</a>
            </div>
          </div><!-- end card body -->
        </div> <!-- end card -->
      </div>
      <!--end grid-card -->
      {{ end }}
    </div>
  </div>
</div>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function (event) {
    // flatten object by concatting values
    function concatValues(obj) {
      var value = '';
      for (var prop in obj) {
        value += obj[prop];
      }
      return value;
    }
    var iso = new Isotope('.card-grid', {
      itemSelector: '.grid-card',
      layoutMode: 'fitRows',
      percentPosition: true
    });

    window.iso = iso

    var filters = {}

    const filterSels = document.querySelector(".filters")
    filterSels.addEventListener('change', (event) => {
      var changedSel = event.target
      var changedSelGroup = changedSel.getAttribute('value-group')
      filters[changedSelGroup] = event.target.value;
      var filterValue = concatValues(filters);
      console.log(filterValue.replace(" ", "*"))
      iso.arrange({ filter: filterValue })
    })
  })
</script>
{{ end }}