{{ define "main" }}


<section id="about">
    <div class="container-fluid pt-5 pb-5">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-4 col-xs-12">
                    <h3 class="text-uppercase">{{ .Title }}</h3>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="mb-5">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<a class="center">
    <img src="/images/between.svg" width="200">
</a>
<section id="business-case">
    <div class="container-fluid pt-5 pb-5">
        <div class="container">
            <div class="row mt-5">
                {{ range where .Site.RegularPages "Section" "business-case" }}
                <div class="col-md-4 col-xs-12">
                    <h3 class="text-uppercase">{{ .Title }} </h3>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="mb-5">
                        {{ .Content }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
<a class="center">
    <img src="/images/between.svg" width="200">
</a>
<section id="how-it-works">
    <div class="container mt-5 mb-5">
        <div class="col-md-4 col-xs-12">
            <h3 class="text-uppercase">How it works</h3>
        </div>

        <div class="row">
            <div class="col-12">
                <div id="timeline-content">
                    <ul class="timeline col-md-8 col-xs-12">
                        {{ range where .Site.RegularPages "Section" "how-it-works" }}
                        <li class="event" data-date="Step {{ .Weight }}">
                            <div class="h5">{{.Title }}</div>
                            <p> {{ .Content }}</p>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<a class="center">
    <img src="/images/between.svg" width="200">
</a>
<section id="impact">
    <div class="container-fluid pt-5 pb-5">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-4 col-xs-12">
                    <h3 class="text-uppercase">Impact</h3>
                </div>
                <div class="col-md-8 col-xs-12">
                    {{ range where .Site.RegularPages "Section" "impact" }}
                    <div class="mb-5">
                        <h4> {{ .Title }}</h4>
                        <p> {{ .Content }}</p>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

{{ end }}