{{ define "main" }}


<section id="about">
    <div class="container-fluid pt-5 pb-5">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-4 col-xs-12">
                    <h3 class="text-uppercase">About</h3>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="mb-5">
                        <p>
                            The Development Data Partnership is a collaboration between international organizations and
                            technology
                            companies, facilitating the efficient and responsible use of third-party data in
                            international development.
                        </p>
                        <p>
                            The Partnership’s success is predicated on our standardized legal, IT, and governance
                            procedures, as well as
                            our vibrant data science community.
                        </p>
                        <p>
                            Partnership activities are guided by a Board, with representation from each international
                            development
                            partner, as well as a Strategic Advisory Group, with representation from donors and
                            technology partners.
                            Day-to-day management is led by the Partnership’s Secretariat and working groups – legal,
                            IT, and data
                            science. These governance bodies – and the invaluable contributions of their members -- make
                            possible our
                            seamless coordination between international organizations and private firms for public good.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="how-it-works">
    <div class="container mt-5 mb-5">
        <div class="col-md-4 col-xs-12">
            <h3 class="text-uppercase">How it works</h3>
        </div>

        <div class="row">
            <div class="col-12">
                <div id="timeline-content">
                    <ul class="timeline col-md-8 col-xs-12">
                        {{ range where .Site.RegularPages "Section" "how-it-works" }}
                        <li class="event" data-date="Step {{ .Weight }}">
                            <div class="h5">{{.Title }}</div>
                            <p> {{ .Content }}</p>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="business-case">
    <div class="container-fluid pt-5 pb-5">
        <div class="container">
            {{ range where .Site.RegularPages "Section" "business-case" }}
            <div class="row mt-5">
                <div class="col-md-4 col-xs-12">
                    <h3 class="text-uppercase"> {{ .Title }} </h3>
                </div>
                <div class="col-md-6 col-xs-12">
                    {{ .Content }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

<section id="impact">
    <div class="container-fluid pt-5 pb-5">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-4 col-xs-12">
                    <h3 class="text-uppercase">Impact</h3>
                </div>
                <div class="col-md-8 col-xs-12">
                    {{ range where .Site.RegularPages "Section" "impact" }}
                    <div class="mb-5">
                        <h4> {{ .Title }}</h4>
                        <p> {{ .Content }}</p>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}