{{ define "main" }}

  {{- partial "banner-mini.html" . -}}

<div class="container-fluid bg-light pb-5">
  <div class="container">


  <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
  <!-- this can be any intro text -->

    <div class="row pt-4">
      <div class="col-12">
        {{.Content}}
      </div>
    </div>

    <div class="row">
        <!-- Ranges through content/xxx/*.md -->
        {{ range .Pages }}
          <div class="col-4  d-flex align-items-stretch mt-4">
           <div class="card border-0 rounded-0">
             <div class="card-body">
               <h3 class="card-title"> <a class="text-primary" href="{{.Permalink}}">{{.Title}}</a> </h3>
                 <div class="w-100 bg-secondary h2px mb-3"></div>
                 <div class="card-text">
                     <div>
                       {{.Date.Format "2006-01-02"}}
                       <p>
                         {{ .Summary }}
                       </p>
                     </div>
                 </div>
             </div>
             <div class="card-footer bg-white border-0 mt-2">
               <a href="{{.Permalink}}" class="btn btn-primary mt-2 no-overlay">Learn More</a>
             </div>
           </div>
         </div>
        {{ end }}
        <!-- end of range -->
    </div>
    <!-- end of row -->

  </div>
</div>

{{ end }}
