body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 , .h1, .h2, .h3 , .h4, .h5 {
    font-family: 'Abel', sans-serif;
}

footer {
  position: sticky !important;
  bottom: 0;
  background-color: #F5F5F5;
}

.bg-primary {
  background-color: #001E60 !important;
}

.bg-primary-gradient {
  background-color: #310459;
  background-image:
    linear-gradient(#001E60, #310459);
}

.bg-secondary {
  background-color: #56C3C4 !important;
}

.bg-secondary-gradient {
  background-color: #3DA3A8;
  background-image:
    linear-gradient(#55C4C4, #3DA3A8);
}

.background-stripes {
  background-position: bottom left;
  background-size: cover;
  width: 400px;
  height: 400px;
  margin-top: -400px;
  margin-left: -50px;
  overflow: hidden;
}

div.main-title {
  font-size: 2.5rem;
  font-family: 'Abel', sans-serif;
  letter-spacing: 4px;
}

.btn-primary {
  background-color: #F7951D;
  border-color: #F7951D;
  min-width: 80px;
}

.btn-primary, .btn-outline-dark, .btn-dark, .btn-outnline-light {
  border-radius: 25px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #DF6B00;
  border-color: #DF6B00;
}

.line {
  background-color: #56C3C4;
  width: 50px;
  height: 4px;
  border-radius: 2px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.partners-logos img {
  height: 50px;
  width: auto;
}

.partners-logos {
    text-align: center;
}


.partner-logo  {
    border-bottom: 1px solid lightgray;
  }

.partner-logo {
    border-right: 1px solid lightgray;
  }

.partner-logo:nth-child(4) , .partner-logo:last-child {
    border-right: 0px;
  }

 
