<section id="news">
  <div class="container-fluid pt-4 bg-primary-gradient">
    <div class="container pt-4">
      <div class="row pt-4">
        <div class="col-12 text-light">
          <div class="pb-2">
            <div class="d-inline h2">Projects & News</div>
            <div class="h4 pt-2 float-right d-none d-sm-block"><a href="updates" class="text-white">view all</a></div>
          </div>
          <div class="w-100 bg-secondary h2px"></div>
          <div class="row pt-4 pb-4 ">
            {{ range first 3 (where .Site.RegularPages "Section" "updates") }}
            <div class="col-md-4 col-xs-12 pb-4 mb-4">
              <h3>{{ .Params.title }}</h3>
              {{ if .Params.partner}}
              {{ range .Param "partner" }}
              <span class="badge badge-info">{{ . }}</span>
              {{ end }}
              {{ end }}
              <p class="pt-2">
                {{ .Summary }}
              </p>
              <a href="{{.Permalink}}" class="btn btn-primary mt-2 no-overlay">Learn more</a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>