<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Uh Oh</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <div class="container-fluid text-dark" style="padding-top:100px">
      <h1 class="text-uppercase">404: Partnership Peril</h1>
      <h2>It takes two to tango, and this page is not your perfct partner.</h2>
      <p style="margin-top:100px">❤️ The Development Data Partnership</p>
    </div>
  </body>

</html>