{{ define "main" }}

{{- partial "banner-mini.html" . -}}

<style type="text/css">
/* ui group */

.ui-group {
  display: inline-block;
  margin-right: 20px;
}

.ui-group h3 {
  display: inline-block;
  margin-right: 0.2em;
  font-size: 16px;
}

.ui-group .button-group {
  display: inline-block;
  margin-right: 20px;
}

.grid-card {
    background: pink;
    width: 150px;
    height: 150px;
    border: 5px solid white;
}

</style>

<div class="filters">

  <div class="ui-group">
    <h3>Data Partner</h3>
    <select class="filter-select" value-group="data-partner">
      <option value="">any</option>
      {{ range .Pages.GroupByParam "partner" }}
      <option value=".{{ lower .Key }}">{{ .Key }}</option>
      {{end}}
    </select>
  </div>

</div>


<div class="card-grid">
    {{ range .Pages }}
    {{ if isset .Params "exclude_from_updates_list" }}
    {{ else }}
    <!--<div class="grid-card small round red"></div>-->
    <div class="grid-card {{ if isset .Params "partner" }}{{ lower .Params.partner }}{{ else }} none {{end}}">{{ if isset .Params "partner" }}{{ lower .Params.partner }}{{ else }} none {{end}}</div>
    {{ end }}
    {{ end }}
</div>




<script type="text/javascript" src="{{ $.Site.BaseURL }}/js/isotope.pkgd.min.js">   </script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function(event) {
    // flatten object by concatting values
    function concatValues( obj ) {
        var value = '';
        for ( var prop in obj ) {
            value += obj[ prop ];
        }
        return value;
    }

    var iso = new Isotope( '.card-grid', {
        itemSelector: '.grid-card',
        layoutMode: 'fitRows'
    });

    window.iso = iso

    var filters = {}

    const filterSels = document.querySelector(".filters")
    filterSels.addEventListener('change', (event) => {
        var changedSel = event.target
        var changedSelGroup = changedSel.getAttribute('value-group')
        filters[ changedSelGroup ] = event.target.value;
        var filterValue = concatValues( filters );
        console.log(filterValue.replace(" ", "*"))
        iso.arrange({ filter: filterValue })
    })
})
</script>

{{ end }}
