<footer>
  <div class="container-fluid pb-4">
    <div class="row">
      <div class="col-12">
        <a class="footer-image p-4" href="https://www.iadb.org">
          <img class="footer-image" src="/images/idb.svg">
        </a>
        <a class="footer-image p-4" href="https://www.imf.org">
          <img class="footer-image" src="/images/imf.svg" style="height:75px">
        </a>
        <a class="footer-image p-4" href="https://www.oecd.org">
          <img class="footer-image" src="/images/oecd.svg">
        </a>
        <a class="footer-image p-4" href="https://www.worldbank.org">
          <img class="footer-image" src="/images/wbg.svg">
        </a>
        <a href=" https://www.worldbank.org/en/about/legal">Legal</a>
      </div>
    </div>
  </div>
</footer>